.SelectForm {
  height: 100%;
}
.FormControlSuccess {
  color: green;
}

.FormControlError {
  .formControl {
    color: red;
  }

  .formText {
    color: red;
  }
}

.FormBlock {
  margin-bottom: 5px;
}
