.dashboar-summary {
  .dashboar-summary-card {
    border: none;

    .card-text {
      font-weight: bold;
      font-size: 1.5em;
      margin: 0;
    }
  }
  .dashboardValueSuccess {
    color: #91da4a;
  }
  .dashboardValueDanger {
    color: #ff3e70;
  }
}
