.InputFileLabel {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border: 3px dashed #f7f9fb;
  border-radius: 3px;
  width: 100%;
  cursor: pointer;
}

.InputFileIcon {
  color: #5689da;
  height: 22px;
  width: 22px;
  margin: 0 10px 0 0;
}
.InputFileHelp {
  margin: 0 5px;
  text-align: center;
  font-size: 0.7em;
  color: rgba(0, 0, 0, 0.75);
}

.InputFileHidden {
  display: none;
}
