.Footer {
  margin-top: 25px;
  padding: 50px 0px 10px 0px;
}
.FooterIconLink {
  opacity: 0.5;
  transition: all 300ms !important;
  &:hover,
  &:target,
  &:active,
  &:focus {
    opacity: 1;
  }
}
.NavbarFooter {
  ul {
    display: flex;
    flex-direction: row;
    a {
      margin: 0 5px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
