.sectionHello {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  color: white;
}
.TextYouCan {
  font-size: 22px;
}
.ImgYouCan {
  max-height: 256px;
}
