header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navMasthead {
  .nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-bottom: 0.25rem solid transparent;
    &:hover,
    &:focus {
      border-bottom-color: rgba(255, 255, 255, 0.25);
    }
  }

  .nav-link + .nav-link {
    margin-left: 1rem;
  }

  .active {
    color: #fff;
    border-bottom-color: #fff;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
