.PortfolioCard,
.PortfolioCardAdd {
  height: 200px;
  cursor: pointer;
  display: flex !important;
  justify-content: center;
  align-items: center;
  transition: 200ms all;
  &:hover,
  &:target {
    background: #eee;
  }
}
