.TableTrade {
  font-size: 14px;
  thead {
    tr {
      background: #dee2f0;
    }
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

.DropdownToggle {
  color: black;
  &::after {
    display: none !important;
  }
}
