.wrapper {
  /*
  margin: 0;
  width: 100%;
*/

  height: 100%;
  min-height: 100vh;
  max-width: 100%;
  background-color: #f7f9fb;
}

.wrapperCover {
  height: 100%;
  min-height: 100vh;
  max-width: 100%;
}
