.Main {
  display: flex;
  margin-top: 80px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid white;
  padding-bottom: 1em;
}
.MainAuthenticated {
  display: flex;
  margin-top: 80px;
}
