.signup {
  display: flex;
  flex-direction: column;
}
.signupForm {
  display: flex;
  flex-direction: column;
  background-color: #f7f9fb;
  padding: 10px 35px;
  border-radius: 5px;
  max-width: 800px;
  margin: auto;
}
.signupFormBlock {
  margin-top: 5px;
  margin-bottom: 5px;
}

.signupIcon {
  height: 128px;
}
