html,
body {
  height: 100%;
  background-color: #f7f9fb;
}
#root {
  height: 100%;
  min-height: 100vh;
}

.formLoading {
  position: relative;
  &::after {
    content: "";
    background: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
  }
}
