@import-normalize;

.page {
}

.page-enter {
  opacity: 0.5;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0.5;
  transition: opacity 300ms, transform 300ms;
}
