.FormLoading {
  position: relative;
  &::after {
    content: "Загрузка...";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #3f79d5;
    text-shadow: 2px 2px #00000000;
  }
}
